In [1]:
import pandas as pd
import sqlite3 as sql

In [2]:
conn = sql.connect("databaseWine.db")
cursor = conn.cursor()

In [3]:
data = pd.read_excel(r"erp.xlsx")
cursor.execute("DROP TABLE IF EXISTS erp")
data.to_sql('erp',conn)

C:\Users\Simplon 1\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [19]:
data = pd.read_excel(r"web.xlsx")

cursor.execute("DROP TABLE IF EXISTS web")
data = data.drop(columns=['tax_class','post_content_filtered','post_mime_type','post_password','post_content'])
print(len(data))
data = data.dropna()
print(len(data))
data.to_sql('web',conn)
print(data)
print(data.isnull().sum(axis = 0)) #vÃ©rifie si des colonnes pleines de valeursn ulle existent
print(pd.read_sql_query("SELECT sku, COUNT(*) c FROM web GROUP BY sku HAVING c > 1",conn))

1513
714
                     sku  virtual  downloadable  rating_count  average_rating  \
0    bon-cadeau-25-euros        0             0             0             0.0
1                  15298        0             0             0             0.0
2                  15296        0             0             0             0.0
3                  15300        0             0             0             0.0
4                  19814        0             0             0             0.0
..                   ...      ...           ...           ...             ...
762                16135        0             0             0             0.0
767                15891        0             0             0             0.0
768                15887        0             0             0             0.0
797              13127-1        0             0             0             0.0
798                16230        0             0             0             0.0

     total_sales tax_status  post_author           post_date  \
0           10.0    taxable          1.0 2018-06-01 13:53:46
1            6.0    taxable          2.0 2018-02-08 12:58:52
2            0.0    taxable          2.0 2018-02-08 13:49:41
3            0.0    taxable          2.0 2018-02-08 14:08:36
4            3.0    taxable          2.0 2018-02-09 14:01:05
..           ...        ...          ...                 ...
762          5.0    taxable          2.0 2020-04-25 13:22:38
767          0.0    taxable          2.0 2020-05-02 14:53:40
768          0.0    taxable          2.0 2020-05-02 15:00:54
797          0.0    taxable          2.0 2020-06-09 15:42:04
798          0.0    taxable          2.0 2020-07-20 11:00:00

          post_date_gmt  ... comment_status ping_status  \
0   2018-06-01 11:53:46  ...         closed      closed
1   2018-02-08 11:58:52  ...         closed      closed
2   2018-02-08 12:49:41  ...         closed      closed
3   2018-02-08 13:08:36  ...         closed      closed
4   2018-02-09 13:01:05  ...         closed      closed
..                  ...  ...            ...         ...
762 2020-04-25 11:22:38  ...         closed      closed
767 2020-05-02 12:53:40  ...         closed      closed
768 2020-05-02 13:00:54  ...         closed      closed
797 2020-06-09 13:42:04  ...         closed      closed
798 2020-07-20 09:00:00  ...         closed      closed

                                             post_name       post_modified  \
0                               bon-cadeau-de-25-euros 2018-06-01 14:13:57
1          pierre-jean-villa-saint-joseph-preface-2018 2019-12-30 09:30:29
2            pierre-jean-villa-saint-joseph-tilde-2017 2019-12-21 09:00:17
3    pierre-jean-villa-croze-hermitage-accroche-coe... 2020-06-26 18:15:03
4                    pierre-jean-villa-igp-gamine-2018 2020-01-04 16:36:01
..                                                 ...                 ...
762                    mouthes-le-bihan-aime-chai-2015 2020-08-26 17:35:03
767         camin-larredya-jurancon-sec-la-virada-2018 2020-08-26 17:35:02
768             jamet-cote-rotie-fructus-voluptas-2018 2020-08-14 18:15:03
797     clos-du-mont-olivet-chateauneuf-du-pape-2007-2 2020-07-20 17:09:06
798  domaine-saint-nicolas-fiefs-vendeens-blanc-les... 2020-08-13 10:45:03

      post_modified_gmt post_parent  \
0   2018-06-01 12:13:57         0.0
1   2019-12-30 08:30:29         0.0
2   2019-12-21 08:00:17         0.0
3   2020-06-26 16:15:03         0.0
4   2020-01-04 15:36:01         0.0
..                  ...         ...
762 2020-08-26 15:35:03         0.0
767 2020-08-26 15:35:02         0.0
768 2020-08-14 16:15:03         0.0
797 2020-07-20 15:09:06         0.0
798 2020-08-13 08:45:03         0.0

                                                  guid menu_order  post_type  \
0    https://www.wine-spirit.fr/?post_type=product&...        0.0    product
1    https://www.wine-spirit.fr/?post_type=product&...        0.0    product
2    https://www.wine-spirit.fr/?post_type=product&...        0.0    product
3    https://www.wine-spirit.fr/?post_type=product&...        0.0    product
4    https://www.wine-spirit.fr/?post_type=product&...        0.0    product
..                                                 ...        ...        ...
762  https://www.wine-spirit.fr/?post_type=product&...        0.0    product
767  https://www.wine-spirit.fr/?post_type=product&...        0.0    product
768  https://www.wine-spirit.fr/?post_type=product&...        0.0    product
797  https://www.wine-spirit.fr/?post_type=product&...        0.0    product
798  https://www.wine-spirit.fr/?post_type=product&...        0.0    product

    comment_count
0             0.0
1             0.0
2             0.0
3             0.0
4             0.0
..            ...
762           0.0
767           0.0
768           0.0
797           0.0
798           0.0

[714 rows x 23 columns]
sku                  0
virtual              0
downloadable         0
rating_count         0
average_rating       0
total_sales          0
tax_status           0
post_author          0
post_date            0
post_date_gmt        0
post_title           0
post_excerpt         0
post_status          0
comment_status       0
ping_status          0
post_name            0
post_modified        0
post_modified_gmt    0
post_parent          0
guid                 0
menu_order           0
post_type            0
comment_count        0
dtype: int64
Empty DataFrame
Columns: [sku, c]
Index: []

C:\Users\Simplon 1\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [21]:
data = pd.read_excel(r"liaison.xlsx")
data = data.dropna()
cursor.execute("DROP TABLE IF EXISTS liaison")
data.to_sql('liaison',conn)
print(pd.read_sql_query("SELECT id_web, COUNT(*) c FROM liaison GROUP BY product_id HAVING c > 1",conn))

Empty DataFrame
Columns: [id_web, c]
Index: []

C:\Users\Simplon 1\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [17]:
pd.read_sql_query("SELECT * FROM sqlite_master ",conn)

,type,name,tbl_name,rootpage,sql
0,table,erpWeb,erpWeb,87,"CREATE TABLE erpWeb(\n ""index"" INT,\n sku TE..."
1,table,erp,erp,2,"CREATE TABLE ""erp"" (\n""index"" INTEGER,\n ""pro..."
2,index,ix_erp_index,erp,3,"CREATE INDEX ""ix_erp_index""ON ""erp"" (""index"")"
3,table,web,web,13,"CREATE TABLE ""web"" (\n""index"" INTEGER,\n ""sku..."
4,index,ix_web_index,web,14,"CREATE INDEX ""ix_web_index""ON ""web"" (""index"")"
5,table,liaison,liaison,9,"CREATE TABLE ""liaison"" (\n""index"" INTEGER,\n ..."
6,index,ix_liaison_index,liaison,15,"CREATE INDEX ""ix_liaison_index""ON ""liaison"" (""..."

In [20]:
conn.commit()